settings.mk
vars.sh
vars.gdb
vars.tcl
logs
results
reports
objects
HotSpot/examples/3D_*
HotSpot/scripts/output
__pycache__
*.log
versions.txt
.cadence
fv
mp_data*
timingReports
*.rpt
*.tstamp
*.bak
.timing_file_*.tif.gz
scheduling_file.cts.*
test.scripts
test.*_run
run_logs
test*.sh
test.tcl
.st_launch_*
*.csv
*.opennet
summary_reports*
pics
eval_*.sh
partition_log
genus_reports
core.*
innovus
platforms/nangate45_asap7_3D
# ignore scripts
platforms/process_scripts

# temp cases
work.codex/
